<table>
  <tr>
    {{#each this.staffMembers as |staffMember|}}
      <td class="schedule-heading">
        <div>{{staffMember.name}}</div>
        <div>{{staffMember.role}}</div>
        <ul>
          {{#each staffMember.appointments as |appointment|}}
            <li>{{appointment.title}}</li>
          {{/each}}
        </ul>
      </td>
    {{/each}}
  </tr>
</table>
